@viewport {
  width: device-width;
}


@font-face {
  font-family: 'ITCAvantGardePro-Bold';
  src: url('ITCAvantGardePro-Bold.woff') format('woff'), url('ITCAvantGardePro-Bold.ttf') format('truetype'), url('ITCAvantGardePro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'ReplicaStd-Light';
  src: url('ReplicaStd-Light.woff') format('woff'), url('ReplicaStd-Light.ttf') format('truetype'), url('ReplicaStd-Light.otf') format('opentype'), url('ReplicaStd-Light.eot') format('eot?');
}

@font-face {
  font-family: 'ReplicaStd-Regular';
  src: url('ReplicaStd-Regular.woff') format('woff'), url('ReplicaStd-Regular.ttf') format('truetype'), url('ReplicaStd-Regular.otf') format('opentype'), url('ReplicaStd-Regular.eot') format('eot?');
 }

* { margin:0; padding:0; font-family:inherit;}
body {
  background: #fff;
  color: #222;
  font-family: "ReplicaStd-Light", Inconsolata, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size:16px;
  line-height:1.5;

  width: 100%;
  max-width:720px;
  margin: 0 auto;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -moz-font-feature-settings:"kern" 1, "liga" 1; 
  -ms-font-feature-settings:"kern" 1, "liga" 1; 
  -o-font-feature-settings:"kern" 1, "liga" 1; 
  -webkit-font-feature-settings:"kern" 1, "liga" 1; 
  font-feature-settings:"kern" 1, "liga" 1;
}

body h1,h2,h3,h4,h5,h6 {
  font-family: 'ITCAvantGardePro-Bold';
  font-weight:400;
  color: #040404;
  margin: 1.618em 0 0.7em 0;
  -webkit-font-smoothing: antialiased;
}

body h1 { font-size: 30px; }
body h2 { font-size: 26px; color: #242424}
body h3 { font-size: 20px; color: #444}
body h4, h5, h6 { font-size: 18px; margin:1em 0 -0.2em 0; color: #646464}

div.breaker { clear:both; }
.template { display:none; }

p, ul, ol, pre, blockquote, hr, object { margin: 1em 0; }
pre, code, tt {
  font-family: inherit;
}

img { border:none; vertical-align:middle; }

hr { height:1px; border:none; background-color:#ddd; }

/* headings */
h1,h2,h3,h4,h5,h6 {
  font-family: 'ITCAvantGardePro-Bold';
  font-weight:400;
  color: #040404;
  margin: 1.618em 0 0.7em 0;
  /*-webkit-font-smoothing: antialiased;*/
}
h1 { font-size: 30px; }
h2 { font-size: 26px; }
h3 { font-size: 20px; color: #282828}
h4, h5, h6 { font-size: 18px; margin:1em 0 -0.2em 0; color: #686868}

/* anchors */
a[href] {
color: inherit;
  text-decoration: none;
  /*display: inline-block;*/
  padding-bottom:0.025em;
  background-image: linear-gradient(to bottom, rgba(0,0,0,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: repeat-x;
  background-size: 2px .2em;
  background-position: 0 1.025em;
  text-shadow: /* creates "openings" for descenders in the underline */
   -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
  /*here ends rasmus' code, the following is the fade to a lighter colour*/
   -o-transition:.5s;
   -ms-transition:.5s;
   -moz-transition:.5s;
   -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

a[href^="#"] {
  color: inherit;
  text-decoration: none;
  /*display: inline-block;*/
  padding-bottom:0.025em;
   -o-transition:.5s;
   -ms-transition:.5s;
   -moz-transition:.5s;
   -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

a[href]:hover {
  color: #c0c0c0;
}

a[href^="#"]:hover {
  color: #c0c0c0;
}


a.img { border:none; background:transparent !important; }

#cf {
  position:relative;
  height:36px;
  width:300px;
  margin: auto 0;
}

#cf img {
  position:absolute;
  max-height:36px;
  left:0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
  cursor: pointer;
}

/* Special Rules for Mobile */
@media only screen and (max-width: 600px) {
.mobile {display:inherit}
.desktop {display:none}
}

/* Special Rules for Tablets */
@media only screen and (min-width: 601px) {
.mobile {display:none}
}

/* Special Rules for Desktops */
@media only screen and (min-width: 1024px) {
.mobile {display:none}
}

/* anchors: headings */
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a, h1 > a:hover,
    h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
  background-color:transparent !important;
}

header, div.content, footer {
  margin:0 32px;
}

/* header */
header {
  /*background: salmon;*/
  display: flex;
  justify-content: space-between;
  height: 100px;
  cursor: default;
}
header * {
  cursor: default;
}
  header h1 {
    font-family: 'ITCAvantGardePro-Bold';
    font-size:30px
    flex: 0 0 auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header a[href] {
    color: inherit;
    background: none;
    text-shadow: none;
   -o-transition:.5s;
   -ms-transition:.5s;
   -moz-transition:.5s;
   -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
  }
  header a[href]:hover {
    color: #FF0000;
    cursor: pointer;
  }
    /*header h1 a[href] {
      display: block;
       -o-transition:.5s;
       -ms-transition:.5s;
       -moz-transition:.5s;
       -webkit-transition:.5s;
        ...and now for the proper property
       transition:.5s;
    }*/

    /*header h1 a[href]:hover {
      color: #c0c0c0;
    }*/

  header ul {
    /*background: rgba(0,255,190,0.3);*/
    font-size:14px;
    font-family:
    "ReplicaStd-Regular",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
    flex: 0 0 auto;
    margin: 0;
    text-align: left;
    display: flex;
    opacity: 0.1;
  }
  header.main ul, header:hover ul {
    opacity: 1;
  }
  header ul li {
    /*background: rgba(55,255,90,0.3);*/
    list-style: none;
    margin:0; padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header ul li:first-child { margin-left: 0; }
  header ul li a[href] {
    /*background: rgba(255,60,90,0.3);*/
    cursor: pointer;
    padding: 0 0.8em;
    color: #c0c0c0;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
  }
  header ul li:last-child a[href] {
    padding-right:0;
  }
  header ul li a[href]:hover { color: #040404; text-decoration: none; }
  header ul li a[href].active {
    /*font-weight:bold;*/
    color:black;
  }

/* main */
#main { margin-bottom: 3em; }

/* ------------------------------------------------------------------------------------------- */
/* main content */
div.content {
  background:white;
  margin-top: 0;
  margin-bottom: 60px;
}
div.content.photo {
  padding: 0;
  margin:0;
}
  div.content:not(.sub) h1:first-child {
    margin-top:0;
  }
  
  div.content img, div.content iframe { display:block; max-width:100%; margin:1em 0; }
  div.content iframe { border:none; }
  div.content *[align="right"] { margin:0 0 1em 1.5em; }
  div.content *[align="left"] { margin:0 1.5em 1em 0; }

  div.content li { margin-left: 2em; margin-bottom:0.2em; }
    div.content ul > li { margin-left:1.4em; }
  div.content ul.minimal { list-style:none; }
    div.content ul.minimal > li { margin-left:0; }

  div.content blockquote {
    border-left:4px solid #ddd;
    padding:0 0 0 20px;
    color: #777;
    text-rendering: optimizelegibility;
  }
  div.content div.quotation blockquote { margin-left:-30px; }

  div.content pre,
  div.content code {
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
  }

  div.content pre > code {
    background-color: none;
    border-radius: 0;
  }

  div.content pre {
    line-height:1.25;
    overflow-x: auto;
    color: #333;
    padding:16px;
  }
  
  div.content code {
    padding:3px 0;
  }
  div.content code::before,
  div.content code::after {
    letter-spacing: -0.2em;
    content: "\00a0";
  }

  div.content pre > code {
    padding:0;
    background-color:transparent;
    border-radius: none;
  }
  div.content pre > code::before,
  div.content pre > code::after {
    letter-spacing: inherit;
    content: none;
  }
  @keyframes outline-fade-out {
    0%   { background-color: #fe0; outline-color: #fe0; }
    90%   { background-color: #fe0; outline-color: #fe0; }
    100% {
      background-color: default;
      outline-color: rgba(255,255,255,0);
    }
  }
  div.content *:target {
    outline: 4px solid #fe0;
    animation: outline-fade-out 4500ms 1;
    animation-direction: alternate; /* or: normal */
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0;
  }
  div.content center {
    margin:2em 0;
    user-select:none;
    cursor: default;
    color: #ccc;
  }
  div.content a.footnote {
    display: inline-block;
    padding: 0 1px;
    margin: 0 0 0 1px;
    background: inherit;
    text-shadow:none;
    color: #666;
    user-select: none;
    border-radius: 2px;
    border-left:1px solid rgba(0,0,0,0.1);
    border-right:1px solid rgba(0,0,0,0.1);
  }
  div.content sup {
    f-align: super;
    font-size: 65%;
    padding:0;
    margin:0;
  }
  div.content sup:target {
    background: none;
    animation: none;
    outline: none;
  }
  div.content sup:target a.footnote {
    background-color: #fe0;
  }
  div.content a.footnote:hover {
    color: black;
    background: #eee;
    /*text-decoration: underline;*/
  }
  div.content a.footnote::before { letter-spacing: -0.3em; content: "\00a0"; }
  div.content a.footnote::after { letter-spacing: -0.3em; content: "\00a0"; }
  div.content div.footnotes {
    margin-top:3em;
    border-top: 1px solid #eee;
  }
  div.content div.footnotes li { color:#999; }
  div.content div.footnotes li > p { margin:0; }
  div.content div.footnotes li:target { background:#ffc; color:inherit; }
  

div.content.sub {
  margin-top:-50px;
  padding-top:20px;
}

img.profile-picture {
  border-radius: 2px;
}

img.inline { 
   display:inline; 
   margin-left: auto;
   margin-right: auto;
   text-align:center; 
   vertical-align:middle; 
   max-width:128px;
}


/* ------------------------------------------------------------------------------------------- */
/* posts */

div.post {
  padding-bottom: 0em;
  page-break-before: always;
}
  div.post.single, div.post:last-child { border-bottom:none; }
  
  div.post actions, div.post info {
    color: #ccc;
  }
  
  div.post actions {
    background: blue;
    display:inline-block;
    float:right;
  }
  
  div.post info {
    display:block;
  }
  div.post.photo info {
    margin:0;
    padding:0;
    border:0;
    display:block;
  }


/* meta */
div.meta { margin:1em 0; }
  div.meta p, div.meta .item { margin:0; }
  div.meta .item, div.meta .tag {
    background-repeat:no-repeat;
    background-position:0 0.36em;
    padding-left:15px;
    color:black;
    opacity:0.4;
    display:block;
    float:left;
    margin-left:2em;
  }
  div.meta .item:hover { opacity:1.0; }
  div.meta .item:first-child { margin-left:0; }
  div.meta .item a, div.meta a.item, div.meta .item a:hover,
      div.meta a.item:hover {
    color:inherit;
  }
  div.meta .item.reblogged {
    background-image:
        url(http://static.tumblr.com/9njdies/592l8jd17/reblogged.png);
  }
  div.meta .item.tags { padding-left:0; }
    div.meta .tag {
      margin-left:1em;
      margin-right:0;
      opacity:1.0;
      background-image:
          url(http://static.tumblr.com/9njdies/YO7l8jd2b/tag.png);
    }
    div.meta .tag:first-child { margin-left:0; }
  div.meta .item.time {
    background-image:
        url(http://static.tumblr.com/9njdies/zkFl8jd2w/time.png);
    float:right;
  }
  div.meta .item.note-count {
    float:right;
    background-image:
        url(http://static.tumblr.com/9njdies/ykvl8nmzz/note-count.png);
  }
  div.meta .item.dsq-comment-count {
    float:right;
    background-image:
        url(http://static.tumblr.com/9njdies/dbPl8uqid/comment-count.png);
    display:none;
  }

footer {
  color: #ccc;
  display: block;
  padding:0 0 1em 0;
  /*text-align: center;*/
}
  footer img {
    display: inline-block;
    vertical-align: -0.2em;
    border: none;
    width:1.2em;
    opacity:0.5;
    padding-right:4px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
  /* ...and now for the proper property */
     transition:.5s;
  }
  footer a[href] {
    color: #333;
    background: none;
    background-image: none;
    text-decoration: none;
    text-shadow: none;
    opacity: 0.5;
    -o-transition:.5s;
   -ms-transition:.5s;
   -moz-transition:.5s;
   -webkit-transition:.5s;
  /* ...and now for the proper property */
    transition:.5s;
  }
  footer a[href]:hover {
    opacity:1.0;
  }
  footer a.cc {
    background: none;
    text-shadow: none;
  }
  footer a.cc:hover {
    text-decoration: none;
  }
  footer a[href]:hover img {
    opacity:1.0;
  }


/* small screens */
/*@media only screen and (max-device-width: 480px) {
}*/
